<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
    <div th:replace="base :: nav"></div>

    <div class="container bg-light pl-5 pr-5">

        Class Page:


        <table>
            <tr>
                <td> crn</td>
                <td> date</td>
                <td> instructor</td>
                <td> room</td>
            </tr>
            <tr  th:each="class : ${classes}">
                <td th:text="${class.crnNumber}"> </td>
                <td th:text="${class.time}"> </td>
                <!--<td th:text="${class.instructor.name"> </td>-->
                <!--<td th:text="${room}"> </td>-->

                <td><a th:href="@{/drop/{id}(id=${class.id})}"> Erop </a></td>

                <!--class.classroom.buildingName-->
                <!--<td th:text="${class.classroom.buildingName}"> </td>-->
                <!--<td th:text="${class.classroom.buildingName}"> </td>-->
            </tr>
        </table>





    <div class="emptySpace"></div>

    <footer th:replace="base :: footer"></footer>
    <br/>

    <div class="space"></div>
    <div th:replace="base :: scripts"></div>
    </div>


</body>
</html>